body{
    background: linear-gradient(
        90deg,
        rgba(166,96,234,1)25%,
        rgba(207,103,235,1)73%);
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    
}
a{
    text-decoration:none;
    color: #a96800;
}


header {
    display: flex;
    min-height: 70px;
    background-color: rgb(4, 7, 59);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}
.marca-emprendimiento{
    color: #a96800;

    margin-left: 8px;
}
nav{
    text-align: right;
}
.logo{
    display: flex;
    max-width: fit-content;
    align-items: center;
    text-decoration: none;
    
}

.logo img{
    height: 90px;
    margin-right: 10px;
    text-decoration:none;
}

nav a{
    position: relative;
    left: 72%;
    padding-right: 10px;
    font-weight: 600;
    text-decoration: none;
}
nav a:hover{
color: white;
}
.pie-pagina{
    width: 100%;
    height: 20%;
    background-color:rgb(4, 7, 59);
    position: absolute;
    font-size: 15px;
    
}

.quienes-somos{
    margin-left: 10%;
    font-size: 20px;
    
}

.personal{
    margin-left: 10%;
    font-size: 20px;
}

.pie-pagina .grupo-1{
    width: 100%;
    margin-block-end: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background-color:rgb(4, 7, 59);
}
.pie-pagina .grupo-1 .box h1{
   
    color: #a96800;
    margin-bottom: 10px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box h2{
    color: #a96800;
    margin-bottom: 25px;
    font-size: 20px;
}
.carrusel{
    margin-left: 40%;
}

  /* Estilos CSS para la card */
  .card {
      width: 150px; /* Ancho de la card */
      border: 1px solid #ccc; /* Borde de la card */
      border-radius: 5px; /* Bordes redondeados */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
      padding: 10px; /* Espaciado interior */
      margin: 10px; /* Márgenes exteriores */
  }

  /* Estilos CSS para la imagen dentro de la card */
  .card img {
      max-width: auto; /* Ajusta el ancho de la imagen al 100% del contenedor */
      height: auto; /* Mantiene la relación de aspecto */
      border-radius: 5px; /* Bordes redondeados para la imagen */
  }
  .card .card-title-ñoquis {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    left: 35%;
}
.card .ñoquis-text{
    position: relative;
    left: 28%;
  }
  .card .card-title-fideos {
      font-weight: bold;
      margin-bottom: 10px;
      position: relative;
      left: 38%;
  }
  
  .card .fideos-text{
    position: relative;
    left: 20%;
  }
  .card .card-title-sorrentinos {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    left: 25%;
} 
.card .sorrentinos-text{
    position: relative;
    left: 10%;
  }

  /* Estilos CSS para el título y el contenido de la card */
  .card .card-title-chaja {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    left: 35%;
}
  .card .card-title-choco {
      font-weight: bold;
      margin-bottom: 10px;
      position: relative;
      left: 25%;
  }
  .card .choco-text{
    position: relative;
    left: 15%;
  }
  .card .card-title-lemon {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    left: 25%;
}
.card .lemon-text{
    position: relative;
    left: 10%;
  }
.card .card-title-tiramisu {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    left: 30%;
}
.card .tiramisu-text{
    position: relative;
    left: 15%;
  }
 
      .card .card-content-button {
        position: relative;
        left: 38%;
        }
        .flechas{
            align-items: center;
        }



/**
@media (max-width:700px){
    header{
        flex-direction: column;

    }
    nav{
        padding: 10px 0px;
    }
    
}

**/

/**parte responsiva**/
@media(max-width: 991px){/**cuando baje a esto se modifique el estilo**/

    .menu{
             padding:30px ;/**en todas las direcciones**/

    }

    .menu label{
        /**para que aparezca el menu hamburguesa**/
        display: initial;
    }
    .back{
        padding: 50px 0 ;/**srriba y abajo - izq y d**/
    }

    .menu .navbar{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color:#2a394f;
        display:none;
    }

    .menu .navbar ul li{
        width:100%
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
}